Package: com.marcosinghof.DarkFolders7
Name: DarkFolders7
Pre-Depends: firmware (>= 7.0)
Depends: mobilesubstrate
Version: 1.1.1
Architecture: iphoneos-arm
Description:  Dark iOS 7 Folders. 
Maintainer: Marco Singhof
Author: Marco Singhof
Section: Tweaks
